body {
    font-family: 'Ubuntu', sans-serif;
}

.logo img{
    height: 50px;
    padding: 10px;
}

.top-background {
    height: 400px;
    background-image: url("../images/powerball-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.game-overview {
    max-width: 1024px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.game-title {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}
.game-title h1 {
    margin: 10px;
}
.game-title span {
    color: red;
}
.game-rules {
    width: 400px;
}
.game-play {
    max-width: 1024;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.click-me {
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10%;
    box-shadow: -2px 3px 10px #000000;
    background-color: red;
    margin: 40px;
    transition: all .25s;
    outline: none;
}
 .click-me:hover {
    background-color: darkred;
} 
.click-me:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.powerball-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    /* transform: rotate(0deg);
    transition: all 2s; */
}
/* .powerball-container:hover {
    transform: rotate(720deg);
} */

.powerball-container h1 {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    margin: 15px auto 0 auto;
}

.box,
.powerball-box {
    height: 8rem;
    width: 8rem;
    border: 1px solid grey;
    margin: 10px;
    text-align: center;
    font-size: 35px;
    border-radius: 50%;
    box-shadow: inset 5px -3px 25px #000000;
    animation-name: slidein;
    animation-duration: 4s;
    animation-timing-function: linear;  
    /* transform: rotate(0deg);
    transition: all 2s; */
}
@keyframes slidein {
  from {
    transform: rotate(-1440deg);
    margin-left: -1500px;
  }
  to {
    transform: rotate(0deg);
    margin-left: 0%;
  }
}


.box {
    background-color: ghostwhite;
    color: black;
}
.powerball-box {
    background-color: red;
    color: white;
}


.footer-container {
    height: 200px;
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




@media only screen and (max-width: 800px){
    .top-background {
        height: 250px;
    }
    .logo img {
        height: 30px;
    }
    .game-overview {
        max-width: 100%;
        margin: 15px;
        flex-direction: column;
    }

    .box,
    .powerball-box {
        height: 6rem;
        width: 6rem;
        font-size: 25px;
        margin: 5px;
    }
}

@media only screen and (max-width: 600px){
    .powerball-container {
        justify-content: space-around;
    }
    .game-rules {
        width: 100%;
        margin-left: 10px;
    }
    .box,
    .powerball-box {
        height: 3.5rem;
        width: 3.5rem;
        font-size: 12px;
        margin: 2px;
    }
    .footer-info {
        font-size: 13px;
    }
}